
* {
    box-sizing: border-box;
}

.active {
    background-color: #4CAF50;
    color: black;
}
footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

div.leftcolumn {   
    float: left;
    width: 50%;
    background-color: silver;
}

/* Right column */
div.rightcolumn {
    float: right;
    width: 50%;
    background-color: silver;
    padding-left: 20px;
}



/* Add a card effect for articles */
div.card {
     background-color: cornsilk;
     padding: 20px;
     margin-top: 20px;
     overflow: auto;
}

/* Clear floats after the columns */
div.row:after {
    content: "";
    display: table;
    clear: both;
}


.navbar{
    width: 100%;
    overflow: hidden;
    background-color: seagreen;
    margin:0;
    margin-right: 10px;
    clear: right;
    position: fixed;
    top:0;
    z-index: 1;
    border: solid grey;
}
.navbar-brand{
  float: left;

}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #7FFF00;
    color: black;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    }

.containew{
    padding-right: 0;
    padding-left: 0;
    background-color: black;
}

.rnew {
    width: 100%;
    height: auto;
}
